pulsar5024XM_x32 chip debug
WARNING: tb.v:489: $readmemh(program.hex): Not enough words in the file for the requested range [0:96000].
WARNING: tb.v:490: $readmemh(mmbootfs.hex): Not enough words in the file for the requested range [0:786432].
WARNING: tb.v:491: $readmemh(mmfs1.hex): Not enough words in the file for the requested range [262144:786432].
WARNING: tb.v:492: $readmemh(mmfs2.hex): Not enough words in the file for the requested range [524120:786432].
