pulsar5024XM_x32 chip debug
WARNING: tb.v:335: $readmemh(program.hex): Not enough words in the file for the requested range [0:96000].
WARNING: tb.v:336: $readmemh(mmbootfs.hex): Not enough words in the file for the requested range [0:786432].
WARNING: tb.v:337: $readmemh(mmfs1.hex): Not enough words in the file for the requested range [262144:786432].
WARNING: tb.v:338: $readmemh(mmfs2.hex): Not enough words in the file for the requested range [524120:786432].
       734 (000002df) HARDWARE   CM1 PUTCHR 32
       734 (000002df) HARDWARE   CM1 PUTCHR 32
       734 (000002df) HARDWARE   CM1 PUTCHR 98
       734 (000002df) HARDWARE   CM1 PUTCHR 111
       734 (000002df) HARDWARE   CM1 PUTCHR 111
       734 (000002df) HARDWARE   CM1 PUTCHR 116
       734 (000002df) HARDWARE   CM1 PUTCHR 105
       734 (000002df) HARDWARE   CM1 PUTCHR 110
       734 (000002df) HARDWARE   CM1 PUTCHR 103
       734 (000002df) HARDWARE   CM1 PUTCHR 32
       734 (000002df) HARDWARE   CM1 PUTCHR 102
       734 (000002df) HARDWARE   CM1 PUTCHR 114
       734 (000002df) HARDWARE   CM1 PUTCHR 111
       734 (000002df) HARDWARE   CM1 PUTCHR 109
       734 (000002df) HARDWARE   CM1 PUTCHR 32
       734 (000002df) HARDWARE   CM1 PUTCHR 82
       734 (000002df) HARDWARE   CM1 PUTCHR 79
       734 (000002df) HARDWARE   CM1 PUTCHR 77
       734 (000002df) HARDWARE   CM1 PUTCHR 10
       612 (00000265) HARDWARE   CM1 PUTPIX 45 45 34
       669 (0000029e) HARDWARE   FS0 READBF 0
       734 (000002df) HARDWARE   CM1 PUTCHR 109
       734 (000002df) HARDWARE   CM1 PUTCHR 109
       734 (000002df) HARDWARE   CM1 PUTCHR 102
       734 (000002df) HARDWARE   CM1 PUTCHR 115
       734 (000002df) HARDWARE   CM1 PUTCHR 48
      1114 (0000045b) HARDWARE   FS0 READBF 1
       734 (000002df) HARDWARE   CM1 PUTCHR 109
       734 (000002df) HARDWARE   CM1 PUTCHR 109
       734 (000002df) HARDWARE   CM1 PUTCHR 102
       734 (000002df) HARDWARE   CM1 PUTCHR 115
       734 (000002df) HARDWARE   CM1 PUTCHR 49
tb.v:365: $finish called at 1000010 (1s)
